name: CI
on: [ push, pull_request ]
jobs:
  build:
    runs-on: ${{ matrix.os }}

    strategy:
      fail-fast: false
      matrix:
        node-version: [24]
        os: [ macos-latest, windows-latest, ubuntu-latest ]

    steps:
    - name: Checkout
      uses: actions/checkout@v6
    - name: Use Node.js ${{matrix.node-version}}
      uses: actions/setup-node@v6
      with:
        node-version: ${{matrix.node-version}}
        cache: 'npm'
    - name: Setup project
      uses: bpmn-io/actions/setup@latest
    - name: Install dependencies
      run: npm ci
    - name: Build
      run: npm run all